<div class="top-cart">
  <h1>Panier</h1>
</div>
<div class="bottom-cart">
  <% if @cart %>
    <h2>Information panier :</h2>
  <% total_cart_price = 0 %>
  <% @cart.cart_items.each do |cart_item| %>
    <div>
      <% item_total_price = cart_item.ingredient.price * cart_item.quantity %>
      <p><%= cart_item.quantity %> x <%= cart_item.ingredient.name %> <%= item_total_price %>€   <%= link_to carts_item_path(cart_item), data: { turbo_method: :delete, cart_items_target: "trash", action: "click->cart-items#delete", cart_items_id_value: cart_item.id.to_i }, class: "btn" do %>
        <i class="fa-solid fa-trash" style="color: #ff1900;"></i>
      <% end %></p>
      <% total_cart_price += item_total_price %>
    </div>
  <% end %>
    <p class="sum-of-all">Total: <%= total_cart_price.to_f %>€</p>
    <%= link_to "Mon Panier", carts_path, class: "link"%>
  <% else %>
    <p>Aucun panier </p>
  <% end %>
</div>
