<ol class="articles">
  <% @networks.each_with_index do |network, index| %>
          <%= link_to network_path(network) do %>
    <li class="articles__article" style="--animation-order: <%= index + 1 %>;">
      <div class="articles__link" onclick="animateAndRedirect('<%= network_path(network) %>')">
        <div class="articles__content articles__content--lhs">
          <h2 class="articles__title"><%= network.name %> Network</h2>
          <div class="articles__footer">
            <!-- Ajoutez ici les informations spécifiques à votre réseau, si nécessaire -->
          </div>
        </div>

        <div class="articles__content articles__content--rhs" aria-hidden="true">
          <h2 class="articles__title"><%= network.name %> Network</h2>
          <div class="articles__footer">
            <!-- Ajoutez ici les informations spécifiques à votre réseau, si nécessaire -->
          </div>
        </div>
      </div>
    </li>
         <% end %>
  <% end %>
</ol>
