<div class="container">
  <div class="title pt-4">
    <h1>Nos Coopératives</h1>
  </div>
  <div class="row py-4">
    <% @networks.each do |network| %>
      <div class="col-md-4 mb-3">
        <div class="card border-card-red">
          <div class="card-header">
            <h2><%= network.name %></h2>
              <%= cl_image_tag network.photo.last.key, height: 100, width: 100%>
          </div>
          <div class="card-body">
            <% @network_farmers[network.id].each do |farmer| %>
              <div class="card mb-3">
                <div class="card-container pt-3">
                  <h3 class="farmer-name pb-2"><%= farmer.name %></h3>
                  <ul>
                    <% farmer.ingredients.pluck(:category).uniq.each do |category| %>
                      <li><%= category %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-footer">
            <%= link_to 'Voir la Coopérative', network_path(network), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Retour', home_path, class:"btn-primary btn-lg p-2 mx-1"  %>
</div>
<%# <script>
  function animateAndRedirect(url) {
    var card = event.currentTarget; // L'élément cliqué
    gsap.to(card, { x: 50, opacity: 0, duration: 0.5, onComplete: function () { redirectToNetwork(url); } });
  }

  function redirectToNetwork(url) {
    // Redirigez vers le lien View Network
    window.location.href = url;
  }
</script> %>
