<div class="container blog-container">
  <div class="title pt-4">
    <h1>Nos Coopératives</h1>
  </div>

  <% @networks.each do |network| %>
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url('<%= cl_image_path(network.photo.last.key) %>');"></div>
        <ul class="details">
        <h2>Les agriculteurs</h2>
          <% @network_farmers[network.id].each do |farmer| %>
            <li class="author"><%= farmer.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="description">
        <h1><%= network.name %></h1>
        <p class="p-network"><%= network.description %></p>
        <p class="read-more">
        <%= link_to 'Voir la Coopérative', network_path(network) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
