<div class="container">
  <h1>Les Coopératives</h1>
  <div class="row">
    <% @networks.each do |network| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-header">
            <h2><%= network.name %> Coopérative</h2>
          </div>
          <div class="card-body">
            <% @network_farmers[network.id].each do |farmer| %>
              <p><%= farmer.name %> produit des:</p>
              <ul>
                <% farmer.ingredients.pluck(:category).uniq.each do |category| %>
                  <li><%= category %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="card-footer">
            <%= link_to 'Voir la Coopérative', network_path(network), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%# <%@network_farmers[1].each do |farmer|  %>
  <%# <%= farmer.ingredients.pluck(:category).uniq %>
<%# <% end.flatten %>
