<div class="container">
  <h1><%= @network.name %> </h1>
  <h2>Producteurs:</h2>
  <ul>
    <% @network_farmers.each do |farmer| %>
      <li>
        <h3><%= farmer.name %></h3>
      </li>
    <% end %>
  </ul>
  <div class="row">
    <% @network_farmers.each do |farmer| %>
      <% farmer.ingredients.each do |ingredient| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= ingredient.name %></h5>
              <p>Price: <%= ingredient.price %></p>

              <%= form_tag carts_items_path(network_id: farmer.network, ingredient_id: ingredient), method: :post, class: 'quantity-form' do %>
                <div class="form-group">
                  <%= label_tag 'quantity', 'Quantity:' %>
                  <%= number_field_tag 'quantity', 1, min: 1, class: 'form-control' %>
                </div>
                <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Retour', networks_path, class:"btn-primary btn-lg p-2 mx-1"  %>
</div>
