
<div class="background-network" data-controller="cart">
  <div class="container_producteur">
    <div class="producteur">
      <div class="top-producteur nom">
        <h1><%= @network.name %></h1>
      </div>
      <div class="show_producteur">
        <% @network_farmers.each do |farmer| %>
          <div class="show_pdt shadow">
            <%= cl_image_tag farmer.photo.last.key %>
            <div style="margin-top: 10px; margin-bottom: 10px;">
              <%= farmer.name %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="min-ship">
      <p><%= @network.description %></p>
      <P>* Montant minimun avant livraison : <%= @network.minimum_shipping_amount %> €</P>
      </div>
    </div>

    <div class="row mt-5" data-controller="cart-items">
        <%= render "networks/list", network_farmers: @network_farmers %>
    </div>
  </div>
</div>
