<h1><%= @network.name %></h1>
<div class="flex-container">
  <div class="content">
    <h2>Producteurs dans leurs Coopératives:</h2>
    <% @network_farmers.each do |farmer| %>
      <h3><%= farmer.name %></h3>
      <%= cl_image_tag farmer.photo.first.key, height: 100, width: 100, class: 'rounded-circle' %>
    <% end %>
  </div>

  <div class="network-photo">
    <%= cl_image_tag @network.photo.last.key%>
  </div>
</div>



  <div class="row">
    <% @network_farmers.each do |farmer| %>
      <% farmer.ingredients.each do |ingredient| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= ingredient.name %></h5>
                <%= cl_image_tag ingredient.photo.first.key, height: 100, width: 100%>
              <p>Price: <%= ingredient.price %>€</p>
            <%= simple_form_for @cart_item, url: carts_items_path(network_id: farmer.network, ingredient_id: ingredient), html: { class: 'simple-form' } do |f| %>
              <%= f.input :quantity, as: :numeric, input_html: { value: 1, min: 1, class: 'form-control' }, label: 'Quantity:' %>
              <%= f.submit 'Add to Cart', class: 'btn btn-primary mt-2' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
