<% if params[:action] != "landing" %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


    <div class="d-flex justify-content-between position-relative px-4 w-100">

        <%= link_to home_path, class: "navbar-logo" do %>
          <%= image_tag "logo.png" %>
        <% end %>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item active">
                <a class="link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                  Idée de Recette
              <li class="nav-item">
                <%= link_to "Nos Producteurs", networks_path, class: "link"%>
              </li>

              <li class="nav-item">
                <%= link_to "Nos Produits", ingredients_path, class: "link"%>
              </li>

              <li class="nav-item">
              <%= link_to "Mes Paniers", carts_path, class: "link"%>
              </li>

              <li class="nav-item dropdown">
                <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.photo.attached?  %>
                  <%= cl_image_tag current_user.photo.first.key, class: "avatar", alt: "dropdown menu" %>
                <% else  %>
                  <%= image_tag "https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=", class: "avatar", alt: "dropdown menu" %>
                <% end %>                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>

  </div>
<% end %>

<%# <%  @user = current_user
    @carts = @user.carts.includes(:network)
    @ingredients = @carts.map { |cart| cart.cart_items.map { |cart_item| cart_item.ingredient } }.flatten
    @generated_content = Cart.content(@ingredients)
    @name = @generated_content.css("h1").text.strip
    @ingredients = @generated_content.css(".card-ingredient").map(&:text).map(&:strip)
    @steps = @generated_content.css(".recipe-step-list__container").map(&:text).map(&:strip) %>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>

    <p>Generated Recipe:</p>
  <%# <p><%= @name %></p> %>
  <%# <% @steps.each do |step| %> %>
    <%# <p><%= step %></p> %>
  <%# <% end %> %>
  <ul>
    <%# <% @ingredients.each do |ingredient| %> %>
      <%# <li><%= ingredient %></li> %>
    <%# <% end %> %>
    </div>
  </div>
</div>
