<html lang="en">
  <head>
    <style></style>
  </head>
  <body>

    <div class="title py-4">
      <h1> Nos Produits </h1>
    </div>
    <div class="container">
      <% @ingredients.group_by(&:category).each_slice(3) do |categories| %>
        <div class="row">
          <div class="col-md-4">
            <div class="card border-red mb-4">
              <div class="card-top">
                <h2 class="card-title py-2"><%= category1 %></h2>
              </div>
              <div class="card-body d-flex flex-column">
                <% ingredients1.each_slice(3) do |group| %>
                  <div class="row">
                    <% group.each do |ingredient| %>
                      <div class="col-md-4 mb-2">
                        <p class="card-text"><%= ingredient.name %></p>
                        <% if ingredient.photo.attached? %>
                          <%= cl_image_tag ingredient.photo.first.key, height: 100, width: 100%>
                        <% else %>
                          <p>Pas de photo disponible</p>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% if category2.present? %>
            <div class="col-md-4">
              <div class="card border-red mb-4">
                <div class="card-top">
                  <h2 class="card-title py-2"><%= category2 %></h2>
                </div>
                <div class="card-body d-flex flex-column">
                  <% ingredients2.each_slice(3) do |group| %>
                    <div class="row">
                      <% group.each do |ingredient| %>
                        <div class="col-md-4 mb-2">
                          <p class="card-text"><%= ingredient.name %></p>
                          <% if ingredient.photo.attached? %>
                            <%= cl_image_tag ingredient.photo.first.key, height: 100, width: 100%>
                          <% else %>
                            <p>Pas de photo disponible</p>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% if category3.present? %>
            <div class="col-md-4">
              <div class="card border-red mb-4">
                <div class="card-top">
                  <h2 class="card-title py-2"><%= category3 %></h2>
                </div>
                <div class="card-body d-flex flex-column">
                  <% ingredients3.each_slice(3) do |group| %>
                    <div class="row">
                      <% group.each do |ingredient| %>
                        <div class="col-md-4">
                          <p class="card-text"><%= ingredient.name %></p>
                            <% if ingredient.photo.attached? %>
                              <%= cl_image_tag ingredient.photo.first.key, height: 100, width: 100%>
                            <% else %>
                              <p>Pas de photo disponible</p>
                            <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
