<div class="banner ">
  <div class="row">
    <div class="form bg-light">
      <h3 class="mb-5 font-size-40 ">Vous recherchez des coopératives proches de chez vous ?</h3>
      <%= render "shared/form" %>
      <p class="text-center"style="font-size: 20px; ">N'attendez plus pour commander les bons produits des fermes près de chez vous et contribuez au circuit court!</p>
    </div>
  </div>
</div>

<div class="row justify-content-center third py-5">
<p class="comment">Comment ça marche ?</p>
  <%= image_tag("networks/process.png", id: "imagedesc", class: "my-5") %>
</div>

<div class="col-sm-8 search-bar">
</div>

<div class="justify-content-center py-5 red div-last" >
 <h1 class="font-size-40" style="margin-bottom: 100px;" class="mt-5">Venez rencontrer les producteurs de votre région !</h1>
  <div class="d-flex justify-content-evenly mb-5">
    <div class="d-flex">
      <div class="d-flex order-md-1 align-items-start broder-img">
        <div class="col-md-4 " style="height: 100%;">
          <%= image_tag("alice.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover;  ") %>
        </div>

        <div class="col-md-4 pad-img recolte" style="height: 100%;">
          <%= image_tag("recolte.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover;") %>
        </div>

        <div class="col-md-4" style="height: 100%;">
          <%= image_tag("baptiste.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover;") %>
        </div>
      </div>
    </div>

    <div class="col-md-3 map" style="height: 450px; width: 40%; border-radius: 2px" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
