
<div class="row justify-content-center background-white image">

  <div class="form">
    <%= render "shared/form" %>
  </div>
</div>

<div class="row justify-content-center third">
    <%= image_tag("networks/process.png", id: "imagedesc") %>
  </div>
</div>


  <div class="col-sm-8 search-bar">
  </div>
</div>

<div class="justify-content-center pt-5 red">
  <h1>Venez rencontrer les producteurs de votre région !</h1>
  <div class="d-flex justify-content-evenly">
    <div class="d-flex">
      <div class="d-flex order-md-1 align-items-start">
        <div class="col-md-4" style="height: 100%;">
          <%= image_tag("alice.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover; border-radius:10px ") %>
        </div>


        <div class="col-md-4" style="height: 100%;">
          <%= image_tag("recolte.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover;border-radius:10px") %>
        </div>

        <div class="col-md-4" style="height: 100%;">
          <%= image_tag("baptiste.jpeg", class: "img-fluid", style: "height: 450px; object-fit: cover;border-radius:10px") %>
        </div>
      </div>
    </div>

      <div style="height: 450px; width: 40%; margin-top: 9px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>

</div>
