<div class="container">
  <h1>Mes Paniers</h1>

<p>Generated Recipe:</p>
<p><%= @generated_content %></p>

  <div class="" data-controller="cart">
    <div class="">
      <% @carts.each do |cart| %>
        <h5 class="card-title">Cart ID: <%= cart.id %></h5>
        <ul class="list-group list-group-flush" id="cart<%= cart.id %>-items">
          <% total_cart_price = 0 %>
          <% cart.cart_items.each do |cart_item| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <%= cart_item.quantity %> <%= cart_item.ingredient.name %>
                </div>
                <div class="col-md-4 text-right">
                  <% item_total_price = cart_item.ingredient.price * cart_item.quantity %>
                  <%= number_to_currency(item_total_price, unit: "€", format: "%n %u") %>
                  <% total_cart_price += item_total_price %>
                  <%= link_to 'Delete', carts_item_path(cart_item),  data: { turbo_method: :delete }, class: "btn btn-danger rounded-pill" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="progress" data-cart-min-shipping-amount="<%= cart.network.minimum_shipping_amount.to_f %>">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="mt-2 ship"><%= cart.network.minimum_shipping_amount.to_f %></p>
        <p class="mt-2 sum-of-all"><%= total_cart_price.to_f %></p>
      <% end %>
    </div>
  </div>
  <%= link_to 'Retour', home_path, class:"btn-primary btn-lg p-2 mx-1"  %>
</div>
